html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  box-shadow: inset 0 0px 0 white, inset 0 -2px 0 #db677e;
}

h1 a:hover {
    box-shadow: inset 0 0px 0 white, inset 0 -4.5px 0 #db677e;
}

h1 {
  font-weight: 600;
}


img {
  max-width: 100%;
  display: block;
}

p {
  font-size: 20px;
}

.no-underline a:hover {
  text-decoration: none;
}



